<div>
  <h2 id="page-heading" data-cy="PortfolioSegmentHeading">
    <span jhiTranslate="mnoutApp.portfolioSegment.home.title">Portfolio Segments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mnoutApp.portfolioSegment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-portfolio-segment"
        [routerLink]="['/portfolio-segment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mnoutApp.portfolioSegment.home.createLabel"> Create a new Portfolio Segment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="portfolioSegments?.length === 0">
    <span jhiTranslate="mnoutApp.portfolioSegment.home.notFound">No Portfolio Segments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="portfolioSegments && portfolioSegments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="portfolioSigment">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.portfolioSegment.portfolioSigment">Portfolio Sigment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.portfolioSegment.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="segment">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.portfolioSegment.segment">Segment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let portfolioSegment of portfolioSegments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/portfolio-segment', portfolioSegment.id, 'view']">{{ portfolioSegment.id }}</a>
          </td>
          <td>{{ portfolioSegment.portfolioSigment }}</td>
          <td>{{ portfolioSegment.name }}</td>
          <td>{{ portfolioSegment.segment }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/portfolio-segment', portfolioSegment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/portfolio-segment', portfolioSegment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(portfolioSegment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
