<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="portfolioSegment">
      <h2 data-cy="portfolioSegmentDetailsHeading"><span jhiTranslate="mnoutApp.portfolioSegment.detail.title">Portfolio Segment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ portfolioSegment.id }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.portfolioSegment.portfolioSigment">Portfolio Sigment</span></dt>
        <dd>
          <span>{{ portfolioSegment.portfolioSigment }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.portfolioSegment.name">Name</span></dt>
        <dd>
          <span>{{ portfolioSegment.name }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.portfolioSegment.segment">Segment</span></dt>
        <dd>
          <span>{{ portfolioSegment.segment }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/portfolio-segment', portfolioSegment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
