<div>
  <h2 id="page-heading" data-cy="ProgramHeading">
    <span jhiTranslate="mnoutApp.program.home.title">Programs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mnoutApp.program.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-program"
        [routerLink]="['/program/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mnoutApp.program.home.createLabel"> Create a new Program </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="programs?.length === 0">
    <span jhiTranslate="mnoutApp.program.home.notFound">No Programs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="programs && programs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="programId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.programId">Program Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clusterId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.clusterId">Cluster Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="countryId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.countryId">Country Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branchId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.branchId">Branch Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxLOBId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.maxLOBId">Max LOB Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wvLOBId">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.wvLOBId">Wv LOB Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="programEffectiveDate">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.programEffectiveDate">Program Effective Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="programExpiryDate">
            <div class="d-flex">
              <span jhiTranslate="mnoutApp.program.programExpiryDate">Program Expiry Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let program of programs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/program', program.id, 'view']">{{ program.id }}</a>
          </td>
          <td>{{ program.programId }}</td>
          <td>{{ program.clusterId }}</td>
          <td>{{ program.countryId }}</td>
          <td>{{ program.branchId }}</td>
          <td>{{ program.maxLOBId }}</td>
          <td>{{ program.wvLOBId }}</td>
          <td>{{ program.programEffectiveDate }}</td>
          <td>{{ program.programExpiryDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/program', program.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/program', program.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(program)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
