<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cSEUser">
      <h2 data-cy="cSEUserDetailsHeading"><span jhiTranslate="mnoutApp.cSEUser.detail.title">CSE User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mnoutApp.cSEUser.id">Id</span></dt>
        <dd>
          <span>{{ cSEUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.cSEUser.name">Name</span></dt>
        <dd>
          <span>{{ cSEUser.name }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.cSEUser.email">Email</span></dt>
        <dd>
          <span>{{ cSEUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.cSEUser.phone">Phone</span></dt>
        <dd>
          <span>{{ cSEUser.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cse-user', cSEUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
