<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="clusterCountry">
      <h2 data-cy="clusterCountryDetailsHeading"><span jhiTranslate="mnoutApp.clusterCountry.detail.title">Cluster Country</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mnoutApp.clusterCountry.id">Id</span></dt>
        <dd>
          <span>{{ clusterCountry.id }}</span>
        </dd>
        <dt><span jhiTranslate="mnoutApp.clusterCountry.name">Name</span></dt>
        <dd>
          <span>{{ clusterCountry.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cluster-country', clusterCountry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
